.info-window-content {
  display: flex;
  flex-direction: column;
}

.info-window-details {
  display: flex;
  justify-content: space-between;
}

.info-window-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.control-panel {
  position: absolute;
  bottom: 50px;
  left: 30%;
  background: white;
  padding: 30px;
  border-radius: 5px;
  width: 40%;
}

.playback-controls {
  position: absolute;
  bottom: 50px;
  left: 30%;
  background: white;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  width: 40%;
}

.playback-controls label {
  margin-right: 10px;
}

#one {
  width: 25%;
  height: 30px;
  margin-right: 10px;
  margin-left: 30px;
  border-radius: 5px;
}
#two {
  width: 25%;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
}

#three {
  width: 15%;
  height: 35px;
  border-radius: 12px;
  background-color: rgb(98, 98, 214);
  color: white;
  margin-left: 150px;
}

#four {
  width: 25%;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
}

#five {
  width: 15%;
  height: 35px;
  border-radius: 12px;
  background-color: rgb(98, 98, 214);
  color: white;
  margin-left: 150px;
}